<!-- Header part -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-1">Edit a Proceeding</h1>
        <p>This is a view where you can edit a simple proceeding</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Go to List</a></p>
    </div>
</div>

<!-- Form part -->
<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input ng-model="updated_proceeding.title" id="title" class="form-control" value="{{updated_proceeding.title}}" />
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input ng-model="updated_proceeding.year" id="year" class="form-control" value="{{updated_proceeding.year}}" />
                </div>
                <div class="form-group">
                    <label for="editor">Editor</label>
                    <input ng-model="updated_proceeding.editor" id="editor" class="form-control" value="{{updated_proceeding.editor}}" />
                </div>
                <div class="form-group">
                    <label for="coeditors">Coeditor</label>
                    <textarea class="form-control" id="coeditors" ng-model="updated_proceeding.coeditors"
                        rows="3" aria-describedby="coeditors_help"  value="{{updated_proceeding.coeditors}}"></textarea>
                     <small id="coeditors_help" class="form-text text-muted">Separate the coeditors by broken line</small>
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input ng-model="updated_proceeding.isbn" id="isbn" class="form-control" value="{{updated_proceeding.isbn}}" />
                </div>
                <div class="form-group">
                    <label for="publisher">Publisher</label>
                    <input ng-model="updated_proceeding.publisher" id="publisher" class="form-control" value="{{updated_proceeding.publisher}}" />
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input ng-model="updated_proceeding.city" id="city" class="form-control" value="{{updated_proceeding.city}}" />
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input ng-model="updated_proceeding.country" id="country" class="form-control" value="{{updated_proceeding.country}}" />
                </div>
                <button type="submit" class="btn btn-primary" ng-click="updateProceeding()" >Submit</button>
            </form>
        </div>
    </div>
</div>