<!-- Header part -->
<div class="col-xs-12">
    <div class="row">
        <h1 class="display-1">List of Proceedings</h1>
        <p>This is a table of all proceeding</p>
        <p><a class="btn btn-primary btn-lg" href="#!/create" role="button">Create</a></p>
        <hr>
    </div>
</div>

<div class="row">
    <div ng-show="errorMessage">
        <div class="alert alert-danger fade in">
            <strong>Error!</strong> {{ errorMessage }}
        </div>
    </div>
    <div ng-show="successMessage">
        <div class="alert alert-success fade in">
            <a href="" class="close" data-dismiss="alert" ng-click="closeSuccess()">&times;</a>
            <strong>Success!</strong> {{ successMessage }}
        </div>
    </div>
</div>

<br>
<!-- Table part -->
<div class="col-xs-12" ng-hide="hideTable">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Editor</th>
                        <th>Coeditors</th>
                        <th>ISBN</th>
                        <th>Publisher</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Keywords</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="proceeding in proceedings">
                        <td><a href="#!/edit/{{proceeding.idProceeding}}">{{proceeding.title}}</a></td>
                        <td>{{proceeding.year}}</td>
                        <td><a href='{{proceeding.editor.viewURL}}'>{{proceeding.editor.name}}</a></td>
                        <td>{{proceeding.coeditors.join("\n")}}</td>
                        <td>{{proceeding.isbn}}</td>
                        <td>{{proceeding.publisher}}</td>
                        <td>{{proceeding.city}}</td>
                        <td>{{proceeding.country}}</td>
                        <td><span class="badge" ng-repeat="keyword in proceeding.keywords">{{keyword}}</span></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{$id}}">Delete</button>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{$id}}" role="dialog">
                                <div class="modal-dialog">
        
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Are you sure that you want to delete this proceeding?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>ID: </strong>{{proceeding.idProceeding}}</p>
                                            <p><strong>Title: </strong>{{proceeding.title}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button class="btn btn-danger" ng-click="deleteProceeding(proceeding.idProceeding)" data-dismiss="modal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
                <tfooter>
                    <tr>
                        <td><input id="title" class="form-control" ng-model="search_proceeding.title" placeholder="Title" /></td>
                        <td><input id="year" class="form-control" ng-model="search_proceeding.year" placeholder="Year" /></td>
                        <td><input id="editor" class="form-control" ng-model="search_proceeding.editor" placeholder="Editor" /></td>
                        <td><input id="coeditors" class="form-control" ng-model="search_proceeding.coeditors" placeholder="Coeditors" /></td>
                        <td><input id="isbn" class="form-control" ng-model="search_proceeding.isbn" placeholder="ISBN" /></td>
                        <td><input id="publisher" class="form-control" ng-model="search_proceeding.publisher" placeholder="Publisher" /></td>
                        <td><input id="city" class="form-control" ng-model="search_proceeding.city" placeholder="City" /></td>
                        <td><input id="country" class="form-control" ng-model="search_proceeding.country" placeholder="Country" /></td>
                        <td><input id="keywords" class="form-control" ng-model="search_proceeding.keywords" placeholder="Keywords" /></td>
                        <td>
                            <button id="search" ng-click="searchProceeding()" class="btn btn-primary">Search</button>
                        </td>
                    </tr>
                </tfooter>
            </table>
        </div>
    </div>
</div>